<script id="edit_documents" type="text/html">
   <form id="editDocuments" name="editDocuments">
     
      <%
           var my_document_serial="";
           var my_date_of_document="";
          var my_document_occupation="";
          var my_no_police="";
           my_comment="";
           try{
                  my_document_serial=data.main[0].Serial;
                  my_date_of_document=data.main[0].DateOfDocument;
                  my_document_occupation=data.main[0].DocumentOccupation;
                 my_comment=data.main[0].Comment;
                 var my_no_police=data.main[0].NoPolice;
           } 
           catch(err){
           }

       %>
        <input type="hidden" name="serial" value="<%=data.main[0].serial%>" />
        <input type="hidden" name="client_serial" value="<%= data.main[0].client_serial %>" />
      
      

    <table  id="document_table">
        <tr>
            <% if(data.main[0].serial=="0") { %>
            <td>  <input type="file" id="fileinput" name="fileinput" />  </td>
            <%}%>
        </tr>
            <tr>
                <td >
                    <div>תאריך המסמך</div>
                     <div >
                          <input name="date_of_document" id="date_of_document" value=" <%= data.main[0].date_of_document%>" size="10"  />
                     </div>
                </td>
                
                <td>
                    <div>סוג המסמך</div>
                     <div>
                             <select name="document_occupation">
                                        <option value="0" > </option>
                                       <%    $.each(data.document_occupation, function(key,val){
                                             if(val.serial != data.main[0].document_occupation){ %>
                                                   <option value="<%=val.serial%>" ><%=val.param_name%></option>
                     
                                           <%}
                                              else{ %>
                                                      <option value="<%=val.serial%>" selected="selected" ><%=val.param_name%></option>
                                           <%  }
                                     });%>
                      </select>
                     </div>
                    
                </td>
                <td>
                        <div> שם מטפל</div>
                         <div>
                                 <select name="user_serial">
                                            <option value="0" > </option>
                                           <% 
                                              $.each(data.users_list, function(key,val){
                                                 if(val.serial ==data.main[0].user_serial){ %>
                                                    <option value="<%=val.serial%>" selected="selected" ><%=val.userN_nme%></option>
                                                    
                         
                                               <%}
                                                  else if(val.serial ==data.user_id ){ %>
                                                          <option value="<%=val.serial%>" selected="selected" ><%=val.user_name%></option>
                                               <%  }   else{ %>
                                                      <option value="<%=val.serial%>" ><%=val.user_name%></option>
                                     <%  }
                                         });%>
                          </select>
                         </div>
                    </td>
                 
                <td>
                        <input type="button" id="btn_save_documents"  name="btn_save_documents"  onclick  ="save_documents()" value="save" />
                </td>
 
            </tr>
        
           
     </table >  
          <input type="text" name="comment"  style="width:100% ; " value=" <%=data.main[0].comment %>">
         
        
       <!--  <a href="#" onclick="for_each() ">for each</a> !-->
   </form>  
</script>