<script id="edit_communicationt" type="text/html">
    <%
 
        var communication_type_array=[
          { serial :"דוא''ל" , param_name :"דוא''ל" },
          { serial : "טלפון בית" ,  param_name :"טלפון בית" },
          { serial : "טלפון עבודה" , param_name :   "טלפון עבודה" },
          { serial : "סלולרי" , param_name : "סלולרי"},
          {  serial : "אחר" ,  param_name :" אחר"}
          ];
    
     $.each(communication_type_array, function(key,val){
          if(val.serial ==data[0].communication_type){ 
 
    }
    })
      
    %>


   <form id="editCommunication" name="editCommunication">
      <input type="hidden" name="serial"             value="<%= data[0].serial %>" />
      <input type="hidden" name="client_serial"   value="<%= data[0].client_serial %>" />
      <input type="text" name="row_index"  id="row_index"  value="" />
      
       <input type="button" id="btn_save_communication"  name="btn_save_communication"  onclick  ="save_communication()" value="save" />
      

        <table  id="communication_table">
                <tr>
                        <td >
                            <div>סוג התקשורת</div>
                             <div >
                                   <select name="communication_type" id="communication_type">
                                          <option value="0" > </option>
                                       <%    $.each(communication_type_array, function(key,val){
                                             if(val.serial !=data[0].communication_type){ 
                                        
                                              %>
                                                   <option value="<%=val.serial%>" ><%=val.param_name%></option>
                     
                                           <%}
                                              else{   %>

                                                      <option value="<%=val.serial%>" selected="selected" ><%=val.param_name%></option>
                                           <%  }
                                     });%>
                                       
                                  </select>
                             </div>
                        </td>
                
                        <td>
                            <div>פרטים</div>
                                 <div >
                                  <input name="communication_value" id="communication_value" value=" <%= data[0].communication_value %>" size="25"  />
                             </div>
                        </td>
                </tr>
         </table >  
        <div>הערה</div>   
         <input name="comment" id="comment"  value=" <%= data[0].comment %>" style="width:100% " />

    
   </form>  
</script>