<script id="templat_all_police_xml" type="text/html">
    <a href="#" onclick=" $('#all_police_xml_table').table2CSV()">שלח לאקסל</a>
 <br/>

  <table border="1" id="all_police_xml_table"  onclick="getId()">
      <thead>
          <tr>
             <th>מספר התכנית </th>
             <th> סוג המוצר </th>
             <th> החברה המנהלת    </th>
             <th> שם התכנית</th>
             <th>  תמהיל </th>
             <th> סוג הפוליסה </th>
             <th> סטטוס</th>
            
             <th> תאריך תחילה </th>
             <th> סכום ביטוח </th>
             <th>  תגמולים </th>
             <th> פיצויים </th>
             <th>   סה"כ </th>
             <th> נכות מתאונה </th>
             <th> א.כ.ע </th>
             <th>  שיחרור</th>
             <th> פרמיה </th>
             <th>  </th>
          </tr>
      </thead>
      <tbody>
          <% $.each(data, function(rowindex,row)         {%>
               <tr >
                  
                         <td><%= data[rowindex].MISPAR_POLISA_O_HESHBON %></td>
                         <td><%= data[rowindex].SugMuzar %></td>
                         <td><%=  data[rowindex].CompanyName %></td>

                         <td><%=  data[rowindex].SHEM_TOCHNIT %></td>
                         <td><%=  data[rowindex].SHEM_TOCHNIT %></td>
                         <td><%=  data[rowindex].SugTochnit %></td>
                         <td><%=  data[rowindex].StatusPolisa %></td>
                         <td><%=  data[rowindex].TAARICH_HITZTARFUT_RISHON %></td>
                         <td><%=  data[rowindex].LifeInsur %></td>

                             <%  if(_.isNull( data[rowindex].tgmulim)==false){ %>
                                  <td><%=  ( data[rowindex].tgmulim).toFixed() %>  </td>
                             <% } else{ %>
                                <td> </td>
                             <% }  %> 

                             <%  if(_.isNull( data[rowindex].pizuim)==false){ %>
                                <td><%=  ( data[rowindex].pizuim).toFixed() %>  </td>
                             <% } else{ %>
                              <td> </td>
                            <% }  %>   

                            <%  if(_.isNull( data[rowindex].total_pidion)==false){ %>
                                <td><%= ( data[rowindex].total_pidion).toFixed()  %>  </td>
                             <% } else{ %>
                              <td> </td>
                            <% }  %>   
                             
                        
                        
                         <td><%=  data[rowindex].AccidentInvalid %></td>
                         <td><%=  data[rowindex].LooseWork %></td>
                         <td><%=  data[rowindex].Shichrur %></td>
                         <td><%=  data[rowindex].TOTAL_HAFKADA %></td>
                         
                    
               </tr>
          <%}); %>
      </tbody>
  </table>
  <script type="text/javascript" >
     function getId(element) {
         alert("row" + element.cells[1].textContent +
             " - column" + element.firstChild.value);
         //alert($(this).find('td[name="Serial"]').html());
         alert(element.rowIndex);
         element.cells[1].textContent="not ok";
       //  alert(element.find('td[name="Serial"]').html()   );
      //   alert(element.find('.Serial').html());
     }

     function get_name1(a) {
         a.cells[1].textContent="not ok";
     }
     //function get_name(){
     //     $('tr').live('click', function () {
     //         alert($(this).find('td[name="Serial"]').html());
     //     });
     // }
</script>
</script>