<script id="edit_life_police" type="text/html">
   <form id="editLifePolice" name="editLifePolice">
      <input type="hidden" name="serial" value="<%= data.main[0].Serial %>" />
       <input type="hidden" name="client_serial" value="<%= data.main[0].ClientSerial %>" />
       <input type="hidden" name="row_index" value="<%= data.row_index %>" />
       <input type="button" id="btn_save_life_police"  name="btn_save"  onclick  ="save_life_police()" value="save" />
      

    <table >
            <tr>
                <td >
                    <div>מספר פוליסה</div>
                     <div >
                          <input name="no_police" id="no_police" value=" <%= data.main[0].NoPolice %>" size="10"  />
                     </div>
                </td>
                <td style="width:200px" >
                    <div>תחילת ביטוח</div>
                     <div >
                          <input name="begin_Insur" id="begin_Insur" value=" <%= data.main[0].beginInsur %>" size="10"  />
                     </div>
                </td>
                <td>
                    <div>שם חברה</div>
                     <div>
                             <select name="company" id="company">
                                        <option value="0" > </option>
                                       <%    $.each(data.company_list, function(key,val){
                                             if(val.Serial != data.main[0].Company){ %>
                                                   <option value="<%=val.Serial%>" ><%=val.ParamName%></option>
                     
                                           <%}
                                              else{ %>
                                                      <option value="<%=val.Serial%>" selected="selected" ><%=val.ParamName%></option>
                                           <%  }
                                     });%>
                      </select>
                     </div>
                </td>
               
                 
                  
                  <td>
                    <div>סוג ביטוח</div>
                     <div>
                             <select name="type_Insur" id="type_Insur">
                                     <option value="0" > </option>
                                       <%    $.each(data.type_insur_life_list , function(key,val){
                                             if(val.Serial != data.main[0].TypeInsur){ %>
                                                   <option value="<%=val.Serial%>" ><%=val.ParamName%></option>
                     
                                           <%}
                                              else{ %>
                                                      <option value="<%=val.Serial%>" selected="selected" ><%=val.ParamName%></option>
                                           <%  }
                                     });%>
                      </select>
                     </div>
                 </td>
                 <td style="width:200px" >
                        <div> אחוז השכר</div>
                         <div >
                              <input name="rate_salary" id="rate_salary" value=" <%= data.main[0].RateSalary %>" size="10"  />
                         </div>
                    </td>
                  <td>
                    <div>סטטוס</div>
                     <div>
                             <select name="status" id="status">
                                     <option value="0" > </option>
                                       <%    $.each(data.status_police_list, function(key,val){
                                             if(val.Serial != data.main[0].status){ %>
                                                   <option value="<%=val.Serial%>" ><%=val.ParamName%></option>
                     
                                           <%}
                                              else{ %>
                                                      <option value="<%=val.Serial%>" selected="selected" ><%=val.ParamName%></option>
                                           <%  }
                                     });%>
                      </select>
                     </div>
                 </td>
               
              
               
               
            </tr>
        <tr>
             <td>
                     <div>premia</div>
                     <div>
                       <input name="premia" value=" <%= data.main[0].premia %>" size="10"  />
                      
                        
                     </div>
                </td>
            
                
            
         </tr>
           
     </table >  
          <input name="comment" value=" <%= data.main[0].Comment %>" style="width:100% ;" />

    
   </form>  
</script>