
<script id="templat_kupa" type="text/html">
    <h1>צפי קצבאות </h1>

    <br/>
    <a href="#" onclick=" $('#kupa_table').table2CSV()">שלח לאקסל</a>
    <table border="1" id="kupa_table"  onclick="getId()">
        <thead>
            <tr>
            <th>מספר פוליסה </th>
            <th>  סוג קופה </th>
            <th>  ק.זקנה  כולל פרמיות    </th>
            <th>  ק.זקנה  ללא פרמיות  </th>
            <th>  אחוז תשואה בתחזית </th>
            <th>  הון צפוי לפרישה  </th>
            <th> הון מהוון מקצבה </th>
            <th> הון נוכחי מהוון </th>
            <th>הון מקצבה מהוון  </th>
            
            </tr>
        </thead>
        <tbody>
            <% $.each(data.kupa_list, function(rowindex,row)         {%>
                <tr >
                   
                          <td><%= data.kupa_list[rowindex].MyNoPolice %></td>
                          <td><%= data.kupa_list[rowindex].SugKupa %></td>
                          <td><%= data.kupa_list[rowindex].SCHUM_KITZVAT_ZIKNA %></td>
                          <td><%= data.kupa_list[rowindex].KITZVAT_HODSHIT_TZFUYA %></td>
                          <td><%= data.kupa_list[rowindex].ACHUZ_TSUA_BATACHAZIT %></td>
                          
                          <td><%= data.kupa_list[rowindex].TOTAL_ITRA_TZFUYA_MECHUSHAV_LEHON_IM_PREMIOT %></td>
                          <td><%= data.kupa_list[rowindex].TOTAL_SCHUM_MTZBR_TZAFUY_LEGIL_PRISHA_MECHUSHAV_LEKITZBA_IM_PREMIYOT %></td>
                         
                          <td><%= data.kupa_list[rowindex].TZVIRAT_CHISACHON_TZFUYA_LEHON_LELO_PREMIYOT %></td>
                          <td><%= data.kupa_list[rowindex].TOTAL_SCHUM_MITZVTABER_TZFUY_LEGIL_PRISHA_MECHUSHAV_HAMEYOAD_LEKITZBA_LELO_PREMIYOT %></td>

                         
                     
                         
                        
                </tr>
           <%}); %>

        </tbody>
    </table>
    <br/>
    

   
    <br/>
   
    


</script>