<script id="templat_life_police_list" type="text/html">
      <a href="#" onclick=" edit_life_police(0)">פוליסה חדשה</a>
    &nbsp
       <a href="#" onclick=" get_simulator(<%=data.id_client%>)">שלח לסימולטור</a>
    &nbsp
       <a href="#" onclick=" get_all_client_police_mislaka_by_client_id(<%=data.id_client%>)">דוח ביטוחים</a>   
       <a href="#" onclick=" get_simulator(<%=data.id_client%>)">שלח לסימולטור</a>
       &nbsp
          <a href="#" onclick=" get_crosstab_perut_yitra_le_tkufaDB_client_id(<%=data.idClient%>)"> יתרות לפי תקופה</a>   
       &nbsp
      <a href="#" onclick=" $('#life_police_table').table2CSV()">שלח לאקסל</a>
    <br />
    <table border="1" id="life_police_table"  onclick="getId()">
        <thead>
            <tr>
               <th>תאריך </th>
               <th> מספר פוליסה</th>
               <th> שם חברה   &nbsp
                    <input type="text" class="black_text" id="life_police_table_comment" size="10" onkeyup="filter_my_table('life_police_table')" /> 
               </th>
               <th> סוג ביטוח</th>
               <th> סטטוס</th>
               <th> בחר פעולה</th>
            </tr>
        </thead>
        <tbody>
            <% $.each(data[0], function(rowindex,row)         {%>
                 <tr >
                       <%
                      // alert(rowindex);
                       no_police="0";
                     $.each(row, function(key,val){ 
                  
                     if(key=="NoPolice"){
                       no_police=val;
                     };
                          if(key!="Serial") {%>
                           <td><%= val%></td>
                     <% } else { %>
                          <td> 
                              <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                    aria-expanded="false">
                                    בחר פעולה <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                            <li><a href="#" onclick="edit_life_police(<%= val%>,<%=(rowindex+1)%>)"s>  עריכה   </a></li>
                                        <li><a href="#" onclick="get_life_police_xml_by_serial(<%= val%>)">  פרטים   </a></li>
                                        <li><a href="#" onclick="conversation_from_police(<%= no_police%>)">  שיחות מפוליסות   </a></li>
                                    </ul>
                               </div>
                           <!--   <a href="#" onclick="edit_life_police(<%= val%>,this.parentNode.parentNode)"> edit</a>
                               <a href="#" onclick="get_life_police_xml_by_serial(<%= val%>)"> פרטים</a>
                                <a href="#" onclick="conversation_from_police(<%= no_police%>)">  שיחות מפוליסות</a>
                                <a href="#" onclick="get_name1(this.parentNode.parentNode)">  שיחות ת</a> !-->
                          </td>
                       <%} });%>
                      
                 </tr>
            <%}); %>
        </tbody>
    </table>
    <script type="text/javascript" >
       function getId(element) {
           alert("row" + element.cells[1].textContent +
               " - column" + element.firstChild.value);
           //alert($(this).find('td[name="Serial"]').html());
           alert(element.rowIndex);
           element.cells[1].textContent="not ok";
         //  alert(element.find('td[name="Serial"]').html()   );
        //   alert(element.find('.Serial').html());
       }

       function get_name1(a) {
           a.cells[1].textContent="not ok";
       }
       //function get_name(){
       //     $('tr').live('click', function () {
       //         alert($(this).find('td[name="Serial"]').html());
       //     });
       // }
  </script>
</script>