<script id="templat_police_xml_object" type="text/html">
    
         
    <%  var my=Object.keys(data).length;
         
        
           var my_headers=[];
        
         for (var i=0; my>i; i++){
            
                for(var current_node in data[i]){
                     var my_data=data[i][current_node];
                     my_headers=[];
                    
                     if (  Array.isArray(my_data)) {
                        for (var oj in my_data[0]){
                            my_headers.push(oj);
                        }
                     }
                     else{
                        for (var oj in my_data){
                            my_headers.push(oj);
                        }
                     }
                     %>
                     <h1><%=current_node %></h1> 
                     <br />
                     <table border="1" >
                        <thead>
                            <tr>
                                 <%  for(var field in my_headers) {%>
                                     <th><%=field%></th>
                                 <% };%>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (Array.isArray(my_data)) {
                                
                                   for (var item in my_data) {%>
                                    <tr >
                                        <%   
                                           for(var a in my_data[item]) {
                                               if (typeof(a)=="string") {%>
                                                   <td><%=my_data[item][a]%></td>
                                               <%}else {
                                                   for(var b in a){
                                                       if (typeof(b)=="string") { %>
                                                            <td><%=a[b]%></td>
                                                       <%} else {
                                                           for(var c in b){ %>
                                                            <td><%=b[c]%></td>
                                                           <%}
                                                       }
                                                   }
                                               }
                                           }%>
                                    </tr>
                                   <%}; 
                        } else { %>
                            <tr >
                                <%  for(var field in my_data) {%>
                                        <td><%=my_data[field]%></td>
                                    <% };%>
                                </tr>
                        <% } %>
                    </tbody>
                </table>
            <%}
        } %>
   </script>