<script id="templat_ricuz_police_all" type="text/html">
    <!--  <input type="button" onclick="all_police_report('police_report')" value="דוח ביטוחים" />
      &nbsp  
      <input type="button" onclick="all_police_report('yitrot_le_tekupa_list')" value="דוח יתרות" />
      <br/> !-->
      
          <div id="police_report" class="show_hide_div2" >
           
              
              <a href="#" onclick=" $('#all_police_xml_table').table2CSV()">שלח לאקסל</a>
              <br/>
  
              <table border="1" id="all_police_xml_table"  onclick="getId()">
                  <thead>
                      <tr>
                          <th>מספר התכנית </th>
                          <th> סוג המוצר </th>
                          <th> החברה המנהלת    </th>
                        <!--  <th> שם התכנית</th>
                          <th>  תמהיל </th> !-->
                          <th> סוג הפוליסה </th>
                          <th> סטטוס</th>
                          
                          <th> תאריך תחילה </th>
                         
                         <!--  <th>  תגמולים </th>
                          <th> פיצויים </th> !-->
                          <th> ביטוח חיים  </th>
                          <th> נכות מקצועית      </th>
                          <th> מוות מתאונה </th>
                          <th> נכות מתאונה </th>
                          <th> אובן כושר עבודה </th>
                          <th>   שיחרור </th>
                          <th> מחלות קשות  </th>
                          
                          <th> פרמיה</th>
                          
                      </tr>
                  </thead>
                  <tbody>
                      <% $.each(data.police_list, function(rowindex,row)         {%>
                          <tr >
                                  <%
                                  var no_police1= data.police_list[rowindex].MISPAR_POLISA_O_HESHBON;
                                  var type_rec1= data.police_list[rowindex].TypeRec ;
                              %>
                              
                                     <td>
                                          
                                          <a href="#" onclick="get_kisui_be_mutzar('<%= no_police1 %>' , <%= type_rec1 %>)" >
                                         <%= no_police1 %>
                                          </a>
                                      </td>
                              
                                   <!--   <td><%= data.police_list[rowindex].MISPAR_POLISA_O_HESHBON %></td> !-->
                                      <td><%= data.police_list[rowindex].SugMuzar %></td>
                                      <td><%=  data.police_list[rowindex].CompanyName %></td>
  
                                      
                                      <td><%=  data.police_list[rowindex].SugTochnit %></td>
                                      <td><%=  data.police_list[rowindex].StatusPolisa %></td>
                                      <td><%=  data.police_list[rowindex].TAARICH_HITZTARFUT_RISHON %></td>
                                      <td><%=  data.police_list[rowindex].LifeInsur %></td>
  
                                          <%  if(_.isNull( data.police_list[rowindex].tgmulim)==false){ %>
                                              <td><%=  ( data.police_list[rowindex].tgmulim).toFixed() %>  </td>
                                          <% } else{ %>
                                              <td> </td>
                                          <% }  %> 
  
                                          <%  if(_.isNull( data.police_list[rowindex].pizuim)==false){ %>
                                              <td><%=  ( data.police_list[rowindex].pizuim).toFixed() %>  </td>
                                          <% } else{ %>
                                          <td> </td>
                                          <% }  %>   
  
                                          <%  if(_.isNull( data.police_list[rowindex].total_pidion)==false){ %>
                                              <td><%= ( data.police_list[rowindex].total_pidion).toFixed()  %>  </td>
                                          <% } else{ %>
                                          <td> </td>
                                          <% }  %>   
                                          
                                      
                                      
                                      <td><%=  data.police_list[rowindex].AccidentInvalid %></td>
                                      <td><%=  data.police_list[rowindex].LooseWork %></td>
                                      <td><%=  data.police_list[rowindex].Shichrur %></td>
                                      <td><%=  data.police_list[rowindex].TOTAL_HAFKADA %></td>
                                      <td><%= data.police_list[rowindex].TAARICH_NECHONUT %></td>
                                  
                          </tr>
                      <%}); %>
                  </tbody>
              </table>
          </div>
          <div id="yitrot_le_tekupa_list" class="show_hide_div2" >
                  <a href="#" onclick=" $('#yitrot_le_tekupa_table').table2CSV()">שלח לאקסל</a>
                  <br/>
                 
                   <table border="1" id="yitrot_le_tekupa_table"  onclick="getId()">
                       <thead>
                           <tr>
                              <th>מספר התכנית </th>
                              <th> עד 2000  </th>
                              <th> אחרי 2000     </th>
                              <th> עד 31.12.04 </th>
                              <th>   עד 31.12.05 </th>
                              <th>   01.05-12.07 </th>
                              <th> 10.06-12.07  </th>
                              <th>  מ 10.08</th>
                              <th>  עד 31.12.02</th>
                              <th>  פיצויים</th>
                              <th>  חישוב ידני</th>
                             
                 
                             
                             
                           </tr>
                       </thead>
                       <tbody>
                              <% $.each(data.yitrot_le_tekupa_list, function(rowindex,row)         {%>
                                   <tr >
                                      
                                             <td><%= data.yitrot_le_tekupa_list[rowindex].MyNoPolice %></td>
                    
                                             <%  if(_.isNull( data.yitrot_le_tekupa_list[rowindex].before_2000)==false){ %>
                                                <td><%=  ( data.yitrot_le_tekupa_list[rowindex].before_2000).toFixed() %>  </td>
                                            <% } else{ %>
                                              <td> </td>
                                            <% }  %> 
                    
                                            <%  if(_.isNull( data.yitrot_le_tekupa_list[rowindex].after_2000)==false){ %>
                                              <td><%=  ( data.yitrot_le_tekupa_list[rowindex].after_2000).toFixed() %>  </td>
                                            <% } else{ %>
                                            <td> </td>
                                            <% }  %> 
                                            
                                            
                                            <%  if(_.isNull( data.yitrot_le_tekupa_list[rowindex].till_12_04)==false){ %>
                                                <td><%=  ( data.yitrot_le_tekupa_list[rowindex].till_12_04).toFixed() %>  </td>
                                           <% } else{ %>
                                              <td> </td>
                                           <% }  %> 
                    
                                           <%  if(_.isNull( data.yitrot_le_tekupa_list[rowindex].till_12_05)==false){ %>
                                              <td><%=  ( data.yitrot_le_tekupa_list[rowindex].till_12_05).toFixed() %>  </td>
                                           <% } else{ %>
                                            <td> </td>
                                          <% }  %>   
                    
                                          <%  if(_.isNull( data.yitrot_le_tekupa_list[rowindex].b_01_05_12_07)==false){ %>
                                            <td><%=  ( data.yitrot_le_tekupa_list[rowindex].b_01_05_12_07).toFixed() %>  </td>
                                        <% } else{ %>
                                            <td> </td>
                                        <% }  %> 
                    
                                        <%  if(_.isNull( data.yitrot_le_tekupa_list[rowindex].b_01_06_12_07)==false){ %>
                                            <td><%=  ( data.yitrot_le_tekupa_list[rowindex].b_01_06_12_07).toFixed() %>  </td>
                                        <% } else{ %>
                                            <td> </td>
                                        <% }  %>   
                    
                                             
                                        <%  if(_.isNull( data.yitrot_le_tekupa_list[rowindex].from_08)==false){ %>
                                            <td><%=  ( data.yitrot_le_tekupa_list[rowindex].from_08).toFixed() %>  </td>
                                        <% } else{ %>
                                          <td> </td>
                                        <% }  %> 
                    
                                        <%  if(_.isNull( data.yitrot_le_tekupa_list[rowindex].till_12_02)==false){ %>
                                          <td><%=  ( data.yitrot_le_tekupa_list[rowindex].till_12_02).toFixed() %>  </td>
                                        <% } else{ %>
                                        <td> </td>
                                        <% }  %>   
                                        
                                        <%  if(_.isNull( data.yitrot_le_tekupa_list[rowindex].pizuim)==false){ %>
                                            <td><%=  ( data.yitrot_le_tekupa_list[rowindex].pizuim).toFixed() %>  </td>
                                        <% } else{ %>
                                          <td> </td>
                                        <% }  %> 
                    
                                        <%  if(_.isNull( data.yitrot_le_tekupa_list[rowindex].by_hand)==false){ %>
                                          <td><%=  ( data.yitrot_le_tekupa_list[rowindex].by_hand).toFixed() %>  </td>
                                        <% } else{ %>
                                        <td> </td>
                                        <% }  %>   
                    
                                             
                                             
                                              
                                              
                                              
                                              
                                              
                                              
                                              
                                   </tr>
                              <%}); %>
                          </tbody>
                   </table>
          </div>
  
          <div id="crosstab_pirtei_kisui_be_mutzar_new" class="show_hide_div2" >
                  <a href="#" onclick=" $('#crosstab_pirtei_kisui_be_mutzar_new_table').table2CSV()">שלח לאקסל</a>
                  <br/>
                 
                   <table border="1" id="crosstab_pirtei_kisui_be_mutzar_new_table"  onclick="getId()">
                       <thead>
                           <tr>
                              <th>מספר התכנית </th>
                              <th> ביטוח חיים  </th>
                              <th> נכות מקצועית      </th>
                              <th> מוות מתאונה </th>
                              <th> נכות מתאונה </th>
                              <th> אובן כושר עבודה </th>
                              <th>   שיחרור </th>
                              <th> מחלות קשות  </th>
                              <th>  חיסכון</th>
                              <th>  א.כ.ע וביטוח חיים</th>
                              <th>  אחר</th>
                             
                             
                 
                             
                             
                           </tr>
                       </thead>
                       <tbody>
                              <% $.each(data.crosstab_pirtei_kisui_be_mutzar_new_list, function(rowindex,row)         {%>
                                   <tr >
                                          <%
                                          var no_police= data.crosstab_pirtei_kisui_be_mutzar_new_list[rowindex].MyNoPolice;
                                          var type_rec= data.crosstab_pirtei_kisui_be_mutzar_new_list[rowindex].TypeRec ;
                                      %>
                                      
                                             <td>
                                                  
                                                  <a href="#" onclick="get_kisui_be_mutzar('<%= no_police %>' , <%= type_rec %>)" >
                                                 <%= data.crosstab_pirtei_kisui_be_mutzar_new_list[rowindex].MyNoPolice %>
                                                  </a>
                                              </td>
                    
                                             <%  if(_.isNull( data.crosstab_pirtei_kisui_be_mutzar_new_list[rowindex].LifeInsur)==false){ %>
                                                <td><%=  ( data.crosstab_pirtei_kisui_be_mutzar_new_list[rowindex].LifeInsur).toFixed() %>  </td>
                                            <% } else{ %>
                                              <td> </td>
                                            <% }  %> 
                    
                                            <%  if(_.isNull( data.crosstab_pirtei_kisui_be_mutzar_new_list[rowindex].Invalid)==false){ %>
                                              <td><%=  ( data.crosstab_pirtei_kisui_be_mutzar_new_list[rowindex].Invalid).toFixed() %>  </td>
                                            <% } else{ %>
                                            <td> </td>
                                            <% }  %> 
                                            
                                            
                                            <%  if(_.isNull( data.crosstab_pirtei_kisui_be_mutzar_new_list[rowindex].AccidentDeath)==false){ %>
                                                <td><%=  ( data.crosstab_pirtei_kisui_be_mutzar_new_list[rowindex].AccidentDeath).toFixed() %>  </td>
                                           <% } else{ %>
                                              <td> </td>
                                           <% }  %> 
                    
                                           <%  if(_.isNull( data.crosstab_pirtei_kisui_be_mutzar_new_list[rowindex].AccidentInvalid)==false){ %>
                                              <td><%=  ( data.crosstab_pirtei_kisui_be_mutzar_new_list[rowindex].AccidentInvalid).toFixed() %>  </td>
                                           <% } else{ %>
                                            <td> </td>
                                          <% }  %>   
                    
                                          <%  if(_.isNull( data.crosstab_pirtei_kisui_be_mutzar_new_list[rowindex].LooseWork)==false){ %>
                                            <td><%=  ( data.crosstab_pirtei_kisui_be_mutzar_new_list[rowindex].LooseWork).toFixed() %>  </td>
                                        <% } else{ %>
                                            <td> </td>
                                        <% }  %> 
                    
                                        <%  if(_.isNull( data.crosstab_pirtei_kisui_be_mutzar_new_list[rowindex].Shichrur)==false){ %>
                                            <td><%=  ( data.crosstab_pirtei_kisui_be_mutzar_new_list[rowindex].Shichrur).toFixed() %>  </td>
                                        <% } else{ %>
                                            <td> </td>
                                        <% }  %>   
                    
                                             
                                        <%  if(_.isNull( data.crosstab_pirtei_kisui_be_mutzar_new_list[rowindex].illness)==false){ %>
                                            <td><%=  ( data.crosstab_pirtei_kisui_be_mutzar_new_list[rowindex].illness).toFixed() %>  </td>
                                        <% } else{ %>
                                          <td> </td>
                                        <% }  %> 
                    
                                        <%  if(_.isNull( data.crosstab_pirtei_kisui_be_mutzar_new_list[rowindex].Saving)==false){ %>
                                          <td><%=  ( data.crosstab_pirtei_kisui_be_mutzar_new_list[rowindex].Saving).toFixed() %>  </td>
                                        <% } else{ %>
                                        <td> </td>
                                        <% }  %>   
                                        
                                        <%  if(_.isNull( data.crosstab_pirtei_kisui_be_mutzar_new_list[rowindex].LWandLifeInsur)==false){ %>
                                            <td><%=  ( data.crosstab_pirtei_kisui_be_mutzar_new_list[rowindex].LWandLifeInsur).toFixed() %>  </td>
                                        <% } else{ %>
                                          <td> </td>
                                        <% }  %> 
                    
                                        <%  if(_.isNull( data.crosstab_pirtei_kisui_be_mutzar_new_list[rowindex].OtherKusui)==false){ %>
                                          <td><%=  ( data.crosstab_pirtei_kisui_be_mutzar_new_list[rowindex].OtherKusui).toFixed() %>  </td>
                                        <% } else{ %>
                                        <td> </td>
                                        <% }  %>   
                
                                   </tr>
                              <%}); %>
                          </tbody>
                   </table>
          </div>
  
          <div id="hishtalmut" class="show_hide_div2" >
                  <a href="#" onclick=" $('#all_police_xml_table').table2CSV()">שלח לאקסל</a>
                  <br/>
      
                  <table border="1" id="all_police_xml_table"  onclick="getId()">
                      <thead>
                          <tr>
                              <th>מספר התכנית </th>
                              <th> החברה המנהלת    </th>
                              <th> שם התכנית</th>
                              <th>  מעמד לקוח </th>
                              <th> סטטוס</th>
                              
                              <th> תאריך תחילה </th>
                              <th>  תאריך נזילות </th>
                              <th>  צבירה </th>
                              <th>  נכון לתאריך </th>
                             
                          </tr>
                      </thead>
                      <tbody>
                          <% $.each(data.hishtalmut_list, function(rowindex,row)         {%>
                              <tr >
                                  
                                          <td><%= data.hishtalmut_list[rowindex].MISPAR_POLISA_O_HESHBON %></td>
                                         
                                          <td><%=  data.hishtalmut_list[rowindex].CompanyName %></td>
      
                                          <td><%=  data.hishtalmut_list[rowindex].SHEM_TOCHNIT %></td>
                                         
                                          <td><%=  data.hishtalmut_list[rowindex].SugTochnit %></td>
                                          <td><%=  data.hishtalmut_list[rowindex].StatusPolisa %></td>
                                          <td><%=  data.hishtalmut_list[rowindex].TAARICH_HITZTARFUT_RISHON %></td>
                                          <td><%=  data.hishtalmut_list[rowindex].histalmut_pidion %></td>
      
                                              <%  if(_.isNull( data.hishtalmut_list[rowindex].histalmut_pidion)==false){ %>
                                                  <td><%=  ( data.hishtalmut_list[rowindex].histalmut_pidion).toFixed() %>  </td>
                                              <% } else{ %>
                                                  <td> </td>
                                              <% }  %> 
                                          <td><%= data.hishtalmut_list[rowindex].TAARICH_NECHONUT %></td>
                                             
                                      
                              </tr>
                          <%}); %>
                      </tbody>
                  </table>
                  
          </div>
  
          <div id="kupa" class="show_hide_div2" >
                  <h1>צפי קצבאות </h1>
                  
                      <br/>
                      <a href="#" onclick=" $('#kupa_table').table2CSV()">שלח לאקסל</a>
                      <table border="1" id="kupa_table"  onclick="getId()">
                          <thead>
                              <tr>
                              <th>מספר פוליסה </th>
                              <th>  סוג קופה </th>
                              <th>  ק.זקנה  כולל פרמיות    </th>
                              <th>  ק.זקנה  ללא פרמיות  </th>
                              <th>  אחוז תשואה בתחזית </th>
                              <th>  הון צפוי לפרישה  </th>
                              <th> הון מהוון מקצבה </th>
                              <th> הון נוכחי מהוון </th>
                              <th>הון מקצבה מהוון  </th>
                              <th>נכון לתאריך  </th>
                              </tr>
                          </thead>
                          <tbody>
                              <% $.each(data.kupa_list, function(rowindex,row)         {%>
                                  <tr >
                                     
                                            <td><%= data.kupa_list[rowindex].MyNoPolice %></td>
                                            <td><%= data.kupa_list[rowindex].SugKupa %></td>
                                            <td><%= data.kupa_list[rowindex].SCHUM_KITZVAT_ZIKNA %></td>
                                            <td><%= data.kupa_list[rowindex].KITZVAT_HODSHIT_TZFUYA %></td>
                                            <td><%= data.kupa_list[rowindex].ACHUZ_TSUA_BATACHAZIT %></td>
                                            
                                            <td><%= data.kupa_list[rowindex].TOTAL_ITRA_TZFUYA_MECHUSHAV_LEHON_IM_PREMIOT %></td>
                                            <td><%= data.kupa_list[rowindex].TOTAL_SCHUM_MTZBR_TZAFUY_LEGIL_PRISHA_MECHUSHAV_LEKITZBA_IM_PREMIYOT %></td>
                                           
                                            <td><%= data.kupa_list[rowindex].TZVIRAT_CHISACHON_TZFUYA_LEHON_LELO_PREMIYOT %></td>
                                            <td><%= data.kupa_list[rowindex].TOTAL_SCHUM_MITZVTABER_TZFUY_LEGIL_PRISHA_MECHUSHAV_HAMEYOAD_LEKITZBA_LELO_PREMIYOT %></td>
                                            <td><%= data.kupa_list[rowindex].TAARICH_NECHONUT %></td>
                  
                                           
                                       
                                           
                                          
                                  </tr>
                             <%}); %>
                  
                          </tbody>
                      </table>
          </div>
          
  </script>