<script id="edit_meeting" type="text/html">
   <form id="editMeeting" name="editMeeting">
     
     
        <input type="hidden" name="serial" value="<%=data.main[0].serial %>" />
        <input type="hidden" name="client_serial" value="<%=data.main[0].client_serial %>" />
       <input type="button" id="btn_save_meeting"  name="btn_save_meeting"  onclick  ="save_meeting()" value="save" />
      

    <table  id="document_table">
        
            <tr>
                <td >
                    <div>תאריך פגישה</div>
                     <div >
                          <input name="meeting_date" id="meeting_date" value=" <%=data.main[0].meeting_date %>" size="10"  />
                     </div>
                </td>
                
                <td>
                    <div>מכין התיק</div>
                     <div>
                             <select name="editor_name">
                                        <option value="0" > </option>
                                       <%    $.each(data.user_name_list, function(key,val){
                                             if(val.serial != data.main[0].editor_name){ %>
                                                   <option value="<%=val.serial%>" ><%=val.user_name%></option>
                     
                                           <%}
                                              else{ %>
                                                      <option value="<%=val.serial%>" selected="selected" ><%=val.user_name%></option>
                                           <%  }
                                     });%>
                      </select>
                     </div>
                </td>
                 <td>
                    <div>שם סוכן</div>
                     <div>
                             <select name="agent_name">
                                        <option value="0" > </option>
                                       <%    $.each(data.agent_name_list, function(key,val){
                                             if(val.serial != data.main[0].agent_name){ %>
                                                   <option value="<%=val.serial%>" ><%=val.agent_name%></option>
                     
                                           <%}
                                              else{ %>
                                                      <option value="<%=val.serial%>" selected="selected" ><%=val.agent_name%></option>
                                           <%  }
                                     });%>
                      </select>
                     </div>
                </td>
                 <td>
                    <div>סטטוס פגישה</div>
                     <div>
                             <select name="meeting_status">
                                        <option value="0" > </option>
                                       <%    $.each(data.meeting_status_list, function(key,val){
                                             if(val.serial != data.main[0].meeting_status){ %>
                                                   <option value="<%=val.serial%>" ><%=val.param_name%></option>
                     
                                           <%}
                                              else{ %>
                                                      <option value="<%=val.serial%>" selected="selected" ><%=val.param_name%></option>
                                           <%  }
                                     });%>
                      </select>
                     </div>
                </td>
                  
            </tr>
        
           
     </table >  
          <textarea name="meeting_summary"  style="width:100% ; height : 400px ;" >
                   <%= data.main[0].meeting_summary %>
            </textarea>
         <a href="#" onclick="for_each() ">for each</a>
   </form>  
</script>