<script id="templat_kisuim" type="text/html">
    <!--  <input type="button" onclick="all_police_report('police_report')" value="דוח ביטוחים" />
      &nbsp  
      <input type="button" onclick="all_police_report('yitrot_le_tekupa_list')" value="דוח יתרות" />
      <br/> !-->
    <%  debugger; var my=Object.keys(data).length;
        var shem_kisui="";   
    for (var i=0; my>i; i++){ %>
        <%shem_kisui =data[i].zihui_kisui.SHEM_KISUI_YATZRAN ;%>
        <!-- 
                <div id="zihui_kisui_div" class="show_hide_div2" >
                
                    
                    <a href="#" onclick=" $('#all_police_xml_table').table2CSV()">שלח לאקסל</a>
                    <br/>
                    
                    <h1>  זיהוי הכיסוי</h1>
                    <br/>
                    <table border="1" id="zihui_kisui_table"  onclick="getId()">
                        <thead>
                            <tr>
                                <th>מספר כיסוי </th>
                                <th>שם כיסוי</th>
                                <th> סוג כיסוי </th>
                                <th>מספר פוליסה</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                                <tr >
                                    <td><%= data[i].zihui_kisui.MISPAR_KISUI_BE_YATZRAN %></td>
                                    <td><%=  data[i].zihui_kisui.SHEM_KISUI_YATZRAN %></td>

                                    <td><%=  data[i].zihui_kisui.SUG_KISUI_ETZEL_YATZRAN %></td>
                                    <td><%=  data[i].zihui_kisui.MISPAR_POLISA_O_HESHBON_NEGDI %></td>
                                        
                                </tr>
                            
                        </tbody>
                    </table>
                </div>
          -->       
                <div id="schumei_bituah_yesodi_div" class="show_hide_div2" >
                    <% var obj= data[i].schumei_bituah_sesodi;          
                    if( Object.keys(obj).length != 0 && obj.constructor === Object)  { %>
                        <h1>סכום ביטוח יסודי </h1>
                        <br/>
                        <table border="1" id="schumei_bituah_yesodi_table"  onclick="getId()">
                            <thead>
                                <tr>
                                <th>קוד מוצר</th>
                                <th>סוג הצמדה </th>
                                <th> ס.הצמדת ד.ביטוח</th>
                                <th>סוג מסלול</th>
                                <th>סכום הביטוח כולל את החיסכון</th>
                                <th> ס.ביטוח מבוקש </th>
                                <th>  כפולות שכר </th>
                                <th>אחוז ההקצאה לחיסכון</th>
                                <th>תקרת גג חתם למקרה מוות</th>
                                <th>תקרת גג חתם לאכע</th>
                                <th> סכום הביטוח  </th>
                                </tr>
                            </thead>
                            <tbody> 
                                
                                <tr >
                            
                                    <td><%= data[i].schumei_bituah_sesodi.KOD_MUTZAR_LEFI_KIDUD_ACHID_LAYESODI %></td>
                                    <td><%= data[i].schumei_bituah_sesodi.SugHatzmadaSchumBituah %></td>
                                    <td><%= data[i].schumei_bituah_sesodi.SugHatzmadaDmeiBituah %></td>
                                    <td><%= data[i].schumei_bituah_sesodi.SugMaslulLeBituah %></td>
                                    <td><%= data[i].schumei_bituah_sesodi.SchumBituahKolelChisachon %></td>
                                    
                                    <td><%= data[i].schumei_bituah_sesodi.SCHUM_BITUACH_LEMASLUL %></td>
                                    <td><%= data[i].schumei_bituah_sesodi.MISPAR_MASKOROT %></td>
                                    <td><%= data[i].schumei_bituah_sesodi.ACHUZ_HAKTZAA_LE_CHISACHON %></td>
                                
                                    <td><%= data[i].schumei_bituah_sesodi.TIKRAT_GAG_HATAM_LEMIKRE_MAVET %></td>
                                    <td><%= data[i].schumei_bituah_sesodi.TIKRAT_GAG_HATAM_LE_O_K_A %></td>
                                    <td><%= data[i].schumei_bituah_sesodi.SCHUM_BITUAH_LEMAVET %></td>
                
                                
                                
                                
                                </tr>
                               
                            </tbody>
                        </table>
                        <br/>
                        <h1> פירטי כיסוי במוצר</h1>
                    <%}%>    
                </div>
  
               
                <div>
                    <% var obj= data[i].pirtei_kisui_be_mutzar;          
                    if( Object.keys(obj).length != 0 && obj.constructor === Object)  { %> 
                      
                        <table border="1" id="pirtei_kisui_be_mutzar_table"  onclick="getId()">
                            <thead>
                                <tr>
                                <th>מספר פוליסה </th>
                                <th>תאריך תחילה </th>
                                <th> סוג מבוטח  </th>
                                <th> סוג הכיסוי </th>
                                <th> שם הכיסוי </th>
                                <th>  סוג עיסוק </th>
                                <th>סכום ביטוח    </th>
                                <th> פרמיה  </th>
                            
                                
                                
                    
                                
                                
                                </tr>
                            </thead>
                            <tbody>
                                
                                        <tr >
                                                <%var my_pirtei_kisui=data[i].pirtei_kisui_be_mutzar;%>
                                                <td><%= my_pirtei_kisui.MyNoPolice %></td>
                                                <td><%= my_pirtei_kisui.TAARICH_TCHILAT_KISUY %></td>
                                                <td><%= my_pirtei_kisui.SugMevutach %></td>
                                                <td><%= my_pirtei_kisui.SUG_KISUY_BITOCHI %></td>
                                                <td><%= shem_kisui %></td>
                                                <td><%=my_pirtei_kisui.SUG_ISUK %></td>

                                                <%  if(_.isNull( my_pirtei_kisui.SCHUM_BITUACH)==false){
                                                    var schum_bituach=Number( my_pirtei_kisui.SCHUM_BITUACH);
                                                    schum_bituach=schum_bituach.toFixed();
                                                    %>
                                                    <td><%= schum_bituach %>  </td>
                                                <% } else{ %>
                                                    <td> </td>
                                                <% }  %> 
                        
                                                <%  if(_.isNull( my_pirtei_kisui.DMEI_BITUAH_LETASHLUM_BAPOAL)==false){ 
                                                    var my_dmei_bituach=Number(my_pirtei_kisui.DMEI_BITUAH_LETASHLUM_BAPOAL);
                                                    my_dmei_bituach=my_dmei_bituach.toFixed(); %>
                                                    <td><%=  my_dmei_bituach %>  </td>
                                                <% } else{ %>
                                                <td> </td>
                                                <% }  %> 
                                               

                                            
                                                
                                                
                                        </tr>
                                
                            </tbody>
            
                        </table>
                    <%}%> 
               
                </div>
    <% } %>
    <br/>
  </script>