<script id="edit_kupa_gemel" type="text/html">
       <form id="editKupaGemel" name="editKupaGemel">
      <%
  
          var temp="";
           var my_serial="0";
           var my_client_serial="";
           var my_agent="0";
           var my_date_open=""; 
           var my_no_agentIn_company="";
           var my_name_kupa="";
           var my_type_kupa="";
           var my_company="";
           var my_maslul_kupa="";
           var my_no_kupa="";
           var my_take_care_name="";
            var my_shlav_tipul="";
            var  my_no_amit="";
            var my_dmay_nihul="";
           var my_summ="";
            var  my_no_amit_old="";
           var  my_kupa_old="";
            var  my_premia="";
           var  my_zvira="";
       var  my_premia_stop="";
       var  my_tipul="";
       var    my_comment="";
       var my_shlav_tipul_date="";
        var my_sum_transfer="";
           try{
                  my_serial=data.main[0].Serial;
                  my_client_serial=data.main[0].ClientSerial;
                 my_agent= data.main[0].Agent ;
                  my_date_open=data.main[0].dateOpen;
                  my_no_agentIn_company=data.main[0].NoAgentInCompany;
                  my_name_kupa=data.main[0].NameKupa;
                  my_type_kupa=data.main[0].TypeKupa;
                  my_my_company=data.main[0].Company;
                  my_maslul_kupa=data.main[0].MaslulKupa;
                  my_no_kupa=data.main[0].NoKupa;
                  my_take_care_name=data.main[0].TakeCareName;
                  my_shlav_tipul=data.main[0].ShlavTipul;
                  my_no_amit=data.main[0].NoAmit; 
                 my_dmay_nihul=data.main[0].DmayNihul; 
                 my_summ=data.main[0].summ; 
                 my_no_amit_old=data.main[0].NoAmitOld; 
                 my_kupa_old=data.main[0].KupaOld; 
                 my_premia=data.main[0].premia; 

                 my_zvira=data.main[0].zvira; 
                 my_premia_stop=data.main[0].PremiaStop; 
                 my_shlav_tipul_date=data.main[0].ShlavTipulDate;         
        
        
       

              my_comment=data.main[0].comment;
                 my_tipul=data.main[0].tipul;   
                my_sum_transfer=data.main[0].SumTransfer;  
       

           } 
           catch(err){
           }

       %>
        <input type="hidden" name="serial" value="<%= my_serial %>" />
        <input type="hidden" name="client_serial" id="kupa_gemel_client_serial" value="<%= my_client_serial %>" />
     <!--  <input type="button" id="btn_save_kupa_gemel"  name="btn_save_kupa_gemel"  onclick  ="save_kupa_gemel()" value="save" /> !-->
    
    <table>
           <tr>
               <td>
                       <div>מספר סוכן</div>
                       <div>
                       <select name="agent" id="agent">
                             <option value="0" > </option>
                                               <%   
                                                  $.each(data.agent_number_list, function(key,val){
                                            
                                                     if(val.NoAgent != my_agent){ %>
                                                           <option value="<%=val.NoAgent%>" ><%=val.NoAgent + " " +val.AgentName + " " +val.CompanyName%></option>
                     
                                                   <%}
                                                      else{ %>
                                                              <option value="<%=val.NoAgent%>" selected="selected" ><%=val.NoAgent + " " +val.AgentName + " " +val.CompanyName%></option>
                                                   <%  }
                                             });%>
                        </select>
                   </div>
                </td> 
               <td>
                     <div>שלב הטיפול</div>
                             <div>
                                     <select name="shlav_tipul" id="shlav_tipul" >
                                                <option value="0" > </option>
                                               <%    $.each(data.shlav_tipul_list, function(key,val){
                                                     if(val.Serial != my_shlav_tipul){ %>
                                                           <option value="<%=val.Serial%>" ><%=val.ParamName%></option>
                     
                                                   <%}
                                                      else{ %>
                                                              <option value="<%=val.Serial%>" selected="selected" ><%=val.ParamName%></option>
                                                   <%  }
                                             });%>
                              </select>
                             </div>    
               </td>
               <td> 
                    <input type="button" id="btn_save_kupa_gemel"  name="btn_save_kupa_gemel"  onclick  ="save_kupa_gemel()" value="save" />
               </td>
            </tr>
      </table>
       <br />
    <table  id="kupa_gemel_table">
        <tr>
             
          

        </tr>
            <tr>
                <td >
                    <div>תאריך רישום</div>
                     <div >
                          <input name="date_open" id="date_open"  size="10"  />
                     </div>
                </td>
                <td >
                    <div>מספר קופה חדשה</div>
                     <div >
                          <input name="no_kupa" value=" <%= my_no_kupa%>" size="10"  />
                     </div>
                </td>
                
                <td>
                    <div>סוג קופה </div>
                     <div>
                             <select name="type_kupa" id="type_kupa">
                                        <option value="0" > </option>
                                       <%    $.each(data.type_kupa_list, function(key,val){
                                             if(val.Serial != my_type_kupa){ %>
                                                   <option value="<%=val.Serial%>" ><%=val.ParamName%></option>
                     
                                           <%}
                                              else{ %>
                                                      <option value="<%=val.Serial%>" selected="selected" ><%=val.ParamName%></option>
                                           <%  }
                                     });%>
                      </select>
                     </div>
                </td>
                 <td>
                    <div>מסלול הקופה</div>
                     <div>
                             <select name="maslul_kupa" id="maslul_kupa">
                                        <option value="0" > </option>
                                       <%    $.each(data.maslul_kupa_list, function(key,val){
                                             if(val.Serial != my_maslul_kupa){ %>
                                                   <option value="<%=val.Serial%>" ><%=val.ParamName%></option>
                     
                                           <%}
                                              else{ %>
                                                      <option value="<%=val.Serial%>" selected="selected" ><%=val.ParamName%></option>
                                           <%  }
                                     });%>
                      </select>
                     </div>
                </td>
 
            </tr>
        <tr>
             <td>
                    <div>שם מטפל</div>
                     <div>
                             <select name="user" id="user">
                                        <option value="0" > </option>
                                       <%    $.each(data.users_list, function(key,val){
                                             if(val.Serial != my_take_care_name){ %>
                                                   <option value="<%=val.Serial%>" ><%=val.UserName%></option>
                     
                                           <%}
                                              else{ %>
                                                      <option value="<%=val.Serial%>" selected="selected" ><%=val.UserName%></option>
                                           <%  }
                                     });%>
                      </select>
                     </div>
                </td>

               <td>
                    <div>מספר עמית</div>
                    <div >
                        <input name="no_amit" value=" <%= my_no_amit%>" size="10"  />
                    </div>
              </td>
              <td>
                    <div>דמי ניהול</div>
                    <div >
                        <input name="dmay_nihul" id="dmay_nihul" value=" <%= my_dmay_nihul%>" size="10"  />
                    </div>
              </td>
              <td>
                    <div>סכום צבירה</div>
                    <div >
                        <input name="summ" id="summ" value=" <%= my_summ%>" size="10"  />
                    </div>
              </td>
              <td>
                    <div>פרמיה חודשית</div>
                    <div >
                        <input name="premia" value=" <%= my_premia%>" size="10"  />
                    </div>
              </td>

        </tr>
        
           
     </table >  
       <br />
       <table>
           <tr>
               <td>
                    <div>מספר עמית ישן</div>
                    <div >
                        <input name="no_amit_old" id="no_amit_old" value=" <%= my_no_amit_old%>" size="10"  />
                    </div>
               </td>
               <td>
                    <div>שם קופה ישנה</div>
                    <div >
                        <input name="kupa_old" id="kupa_old" value=" <%= my_kupa_old%>" size="10"  />
                    </div>
               </td>
           </tr>
       </table>
       <br />
          <input name="comment" value=" <%= my_comment %>" style="width:100%" />

       <script type="text/javascript" >
           //$('#date_open').datepicker({
           //    dateFormat: "dd/mm/yy"
           //}); 
           //$('#document_table tr').each(function () {
           //    alert($(this).html());
           //});
           //$(date_of_document).ready(function () {
           //    $('#date_open').datepicker({
           //         dateFormat: "DD/MM/YYYY"
           //    }); 
              
           //  })
  </script>
   </form>  
</script>