<script id="templat_kupa_gemel_filter" type="text/html">
       <form id="kupaGemelFilter" name="kupaGemelFilter">
     
       
       
      
     
    <table>
           <tr>
               <td>
                  
                       <div>
                            <input type="checkbox" name="agent_check" />
                           &nbsp
                           מספר סוכן

                       </div>
                       <div>
                       <select name="agent">
                             <option value="0" > </option>
                                               <%   
                                                  $.each(data.agent_number_list, function(key,val){
                                            
                                                  %>
                                                           <option value="<%=val.NoAgent%>" ><%=val.NoAgent + " " +val.AgentName + " " +val.CompanyName%></option>
                     
                                                 
                                            <% });%>
                        </select>
                   </div>
                </td> 
               <td>
                     <div>  <input type="checkbox" name="shlav_tipul_check" />
                           &nbsp שלב הטיפול</div>
                             <div>
                                     <select name="shlav_tipul" >
                                                <option value="0" > </option>
                                               <%    $.each(data.shlav_tipul_list, function(key,val){
                                                     %>
                                                           <option value="<%=val.Serial%>" ><%=val.ParamName%></option>
                     
                                           <%  });%>
                              </select>
                             </div>    
               </td>
  
               
                
                <td>
                    <div><input type="checkbox" name="type_kupa_check" />
                           &nbsp סוג קופה </div>
                     <div>
                             <select name="type_kupa">
                                        <option value="0" > </option>
                                       <%    $.each(data.type_kupa_list, function(key,val){
                                            %>
                                                   <option value="<%=val.Serial%>" ><%=val.ParamName%></option>
                     
                                    <% });%>
                      </select>
                     </div>
                </td>
                 <td>
                    <div><input type="checkbox" name="maslul_kupa_check" />
                           &nbsp מסלול הקופה</div>
                     <div>
                             <select name="maslul_kupa">
                                        <option value="0" > </option>
                                       <%    $.each(data.maslul_kupa_list, function(key,val){
                                           %>
                                                   <option value="<%=val.Serial%>" ><%=val.ParamName%></option>
                     
                                         
                                  <%     });%>
                      </select>
                     </div>
                </td>
 
             <td>
                    <div><input type="checkbox" name="user_check"  />
                           &nbsp שם מטפל</div>
                     <div>
                             <select name="user">
                                        <option value="0" > </option>
                                       <%    $.each(data.users_list, function(key,val){
                                            %>
                                                   <option value="<%=val.Serial%>" ><%=val.UserName%></option>
                     
                              <%       });%>
                      </select>
                     </div>
                </td>

              
           
              <td>
                    <div>סכום צבירה</div>
                    <div >
                      <input type="button" id="btn_save_kupa_gemel"    onclick  ="get_kupa_gemel_list_after_filtering()"  value="בצע" />
                    </div>
              </td>
              

        </tr>
        
           
     </table >  
     <div id="kupa_gemel_result"></div>
       

     
   </form>  
</script>