<script id="edit_followup_conversation" type="text/html">
   <form  id="editFollowupConversation" name="editFollowupConversation"> 
            
      <input type="hidden" name="serial"  id="serial" value="<%=data.main[0].serial  %>" />
      <input type="hidden" name="row_index" value="<%= data.row_index %>" />              
      <input type="hidden" name="conversations_serial"  id="conversations_serial" value="<%=data.main[0].conversations_serial  %>" />
                  
               
                <table>
                    <tr>
                        <td>
                             <div>תאריך</div>
                               <input name="date_followup" id="date_followup" value="<%= data.main[0].date_followup %>" size="10" disabled />
                        </td>
                        <td >
                              <div>שעה</div>
                           <!--     <div id="hour_of_datee" name="hour_of_datee"><%= data.main[0].Datee %> </div> !-->
                             
                               <div >
                                   
                                    <input name="hour_of_datee2"  id="hour_of_datee2" value="<%=moment(data.main[0].date_followup).format("HH:mm")  %>" size="10" disabled />
                               </div> 
                          </td>
      
                      
                      <td>
                        <td>
                              <div>שם מטפל</div>
                              <div>
                                 <select name="user_serial">
                                            <option value="0" > </option>
                                           <%    $.each(data.user_serial_list, function(key,val){
                                                 if(val.serial !=data.main[0].user_serial){ %>
                                                       <option value="<%=val.serial%>" ><%=val.user_name%></option>
                     
                                               <%}
                                                  else{ %>
                                                          <option value="<%=val.serial%>" selected="selected" ><%=val.user_name%></option>
                                               <%  }
                                         });%>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div>סטטוס</div>
                             <div>
                                     <select name="type_followup_conversation" id="type_followup_conversation">
                                             <option value="0" > </option>
                                               <%    $.each(data.type_followup_conversation_list, function(key,val){
                                                     if(val.serial != data.main[0].type_followup_conversation){ %>
                                                           <option value="<%=val.serial%>" ><%=val.param_name%></option>
                     
                                                   <%}
                                                      else{ %>
                                                              <option value="<%=val.serial%>" selected="selected" ><%=val.param_name%></option>
                                                   <%  }
                                             });%>
                                   </select>
                             </div>
                        </td>
                        <td>
                                   <% if(data.main[0].mark_as_important>0) { %>
                                   <div>  <input type="checkbox" name="mark_as_important"  id="mark_as_important" checked /> &nbsp   דחוף </div>
                                   <%} else {%>
                                    <div>  <input type="checkbox" name="mark_as_important"  id="mark_as_important"  /> &nbsp   דחוף </div>
                                   <%}%>

                        </td>
                        <td>
                              <% if(data.main[0].done>0) { %>
                               <div>  <input type="checkbox" name="check_done"  id="check_done" checked /> &nbsp   בוצע </div>
                               <%} else {%>
                                <div>  <input type="checkbox" name="check_done"  id="check_done"  /> &nbsp   בוצע </div>
                               <%}%>
                        </td>
                        <td>
                             <% if(data.main[0].stop_reminder>0) { %>
                               <div>  <input type="checkbox" name="stop_reminder"  id="stop_reminder" checked /> &nbsp   בטל התראה </div>
                               <%} else {%>
                                <div>  <input type="checkbox" name="stop_reminder"  id="stop_reminder"  /> &nbsp   בטל התראה </div>
                               <%}%>

                        </td>
                        <td>
                             <input type="button" onclick="save_followup_conversation()" value="שמור" />
                        </td>
                        <td>
                             <input type="button" onclick="hide_show_div('SubDiv'  ,  'MainDiv' )" value="בטל" />
                        </td> 
                    </tr>

                </table>
             <textarea name="summary" id="summary"  style="width:100% ; height : 400px ;" >
               <%= data.main[0].summary %>
            </textarea>

        </form>
</script>

