<script id="templat__client_details" type="text/html">
    
    <form class="w3-container max-height-width" id="editClient_details" name="editClient_details">
        <input type="hidden" name="serial" value="<%= data.main.serial %>" />
       
        <div class="container ">
            <div class="w3-container w3-blue">
                <h2>פרטי לקוח</h2>
            </div>
            <br>
            <div class="row">
               
            
                <div class="col-sm-2 fieldLabel">
					<p>
						<label>תעודת זהות</label>
						<input class="w3-input" name="id"  id="id"value=" <%= data.main.id %>" size="10"  />
                   </p>
                </div>
                <div class="col-sm-2 fieldLabel">
					<p>
						<label>שם משפחה</label>
						<input class="w3-input" name="last_name" id="lastName" value="<%= data.main.last_name  %> " disabled />
                    </p>
                </div>
                <div class="col-sm-2 fieldLabel">
					<p>
						<label>שם פרטי</label>
                        <input class="w3-input" name="first_name" id="first_name" value="<%= data.main.first_name %>" disabled/>
                    </p>                    
                </div>
                <div class="col-sm-2 fieldLabel">
					<p>
						<label>תאריך לידה</label>
						<input class="w3-input" name="birthday" id="birthday"  value="<%= data.main.birthday %>" size="10" disabled/>
                    </p>
                </div>
                <div class="col-sm-2 fieldLabel">
                    <p>
						<label>מין</label>
                        <input class="w3-input" name="sex" id="sex" value="<%= data.main.sex %>"  size="2" disabled/>
                    </p>    
                </div>
                <div class="col-sm-2 fieldLabel">
                    <p>
						<label>סטטוס</label>
               
                        <select class="w3-input" name="status"  id ="status1" disabled>
                            <option value="0" > </option>
                            <%    $.each(data.client_type_list, function(key,val){
                                if(val.serial != data.main.status){
                                %>
                                    <option value="<%=val.serial%>" ><%=val.param_name%></option>
                                <%} else { %>
                                    <option value="<%=val.serial%>" selected="selected" ><%=val.param_name%></option>
                                <%}
                            });%>
                         </select>
                     </p>
                </div>
            </div>
			<div class="row">
                <div class="col-sm-2 fieldLabel">
					<p>
						<label>טלפון ראשי</label>
						<input class="w3-input" name="main_phone" id="main_phone" value="<%= data.main.main_phone  %> " disabled />
                    </p>
                </div>
                <div class="col-sm-2 fieldLabel">
					<p>
						<label>סלולרי ראשי</label>
						<input class="w3-input" name="main_selolry" id="main_selolry" value="<%= data.main.main_selolry  %> " disabled />
                    </p>
                </div>
                
                
            
                <div class="col-sm-2 fieldLabel">
                    <p>
						<label>דוא"ל</label>
                        <input class="w3-input" name="email" id="email" value=" <%= data.main.email %>" disabled/>
                    </p>     
                </div>
                <div class="col-sm-2 fieldLabel">
                    <p>
						<label>כתובת</label>
                        <input class="w3-input" name="street" id="street" value=" <%= data.main.street %>" disabled/>
                    </p>   
                </div>
                <div class="col-sm-2 fieldLabel">
                    <p>
						<label>עיר</label>
                        <input class="w3-input" name="city" id="city" value=" <%= data.main.city %>" disabled/>
                    </p>
                </div>
                
                
                
            </div>
			
            
                
                
            
               
                
                
            
            <div class="row">
                <div class="col-sm-2 fieldLabel">
                    <p>
						<label>קבוצה</label>
                
                        <select class="w3-input" name="operation" id="operation" disabled>
                                <option value="0" > </option>
                                <%    $.each(data.operation_list, function(key,val){
                                        if(val.serial != data.main.operation){ %>
                                            <option value="<%=val.serial%>" ><%=val.param_name%></option>
                                    <%}
                                        else{ %>
                                            <option value="<%=val.serial%>" selected="selected" ><%=val.param_name%></option>
                                    <%  }
                                });%>
                        </select>
                    </p>
                </div>
                <div class="col-sm-2 fieldLabel">
					<p>
						<label>דרוג לקוח</label>
                        <input class="w3-input" name="client_rating" id="client_rating" value="<%= data.main.client_rating %>"  size="2" disabled/>
                    </p>    
                </div>
                <div class="col-sm-2 fieldLabel">
                    <p>
						<label> קופת חולים</label>
                        <select class="w3-input" name="no_health_fund"  id="no_health_fund" disabled>
                                    <option value="0" > </option>
                                    <%    $.each(data.no_health_fund_list, function(key,val){
                                        if(val.serial != data.main.no_health_fund){ %>
                                                <option value="<%=val.serial%>" ><%=val.param_name%></option>
            
                                        <%}
                                            else{ %>
                                                    <option value="<%=val.serial%>" selected="selected" ><%=val.param_name%></option>
                                        <%  }
                                });%>
                        </select>
                    </p>
                </div>
                <div class="col-sm-2 fieldLabel">
                    <p>
						<label>שם סוכן</label> 
                
                        <select class="w3-input" name="agent"  id="agent" disabled >
                                <option value="0" > </option>
                                <%    $.each(data.agents_list, function(key,val){
                                        if(val.serial != data.main.agent){ %>
                                            <option value="<%=val.serial%>" ><%=val.agent_name%></option>
            
                                    <%}
                                        else{ %>
                                                <option value="<%=val.serial%>" selected="selected" ><%=val.agent_name%></option>
                                    <%  }
                                });%>
                        </select>
                    </p>
                </div>
                <div class="row">
                    <div class="col-sm-2 fieldLabel">
                       <p>
                           <label> יש צילום ת.זהות</label>        
                      
                           <% if(data.main.exsist_id>0) {%>
                               <input type="checkbox" name="exsist_id" checked  />
                           <%} else{%>
                               <input type="checkbox" name="exsist_id"   />
                           <%}%>
                       </p>
                   </div>
                   <div class="col-sm-2 fieldLabel">
                       <p>
                           <label> מעשן/ת</label>
                       
                           
                               <% if(data.main.smok>0) {%>
                                   <input type="checkbox" name="smok" checked  />
                               <%} else{%>
                                   <input type="checkbox" name="smok"   />
                               <%}%>
                       </p>
                   </div>
                
            </div>	
            
            <div class="row">
                <div class="col-sm-12 fieldLabel">
                    <p> 
                        הערה
                    
                        <input class="w3-input" name="comment" value=" <%= data.main.comment %>" style='width:80%' disabled/>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 w3-container " style="text-align: center">
               
                <input type="button" id="btn_edit_client"  name="btn_edit_client" onclick="edit()"  value="עריכה" />
                <input type="button" id="btn_save_client"  name="btn_save_client" onclick="save_client()"  value="שמירה" disabled/>
                <input type="button" id="btn_cancel_client"  name="btn_cancel_client" onclick="cancel_edit()"  value="בטל" disabled />
                 
            </div>
        </div>
       
     
    </form>
    <script>
        function edit() {
           
         
            var elements = document.getElementById("editClient_details").elements;
            for (var i = 0, element; element = elements[i++];) {
                element.disabled=false;  
            } 
           // $("#btn_cancel_client").display=false;
            document.getElementById("btn_cancel_client").style.disabled = false;
            document.getElementById("btn_save_client").style.disabled = false;
            // var birthday=document.getElementById("birthday").value;
            // //alert(birthday);
            // set_datepicker_format2("birthday", birthday)  ; 
           
        }

        function cancel_edit(){
            var elements = document.getElementById("editClient_details").elements;
            for (var i = 0, element; element = elements[i++];) {
                element.disabled=true;  
            } 
        }
        </script> 
    
 </script>