<script id="templat__client_details" type="text/html">
    <div class="w3-container w3-blue">
        <h2>פרטי לקוח</h2>
      </div>
    <form class="w3-container" id="editClient_details" name="editClient_details">
        <input type="hidden" name="serial" value="<%= data.main[0].serial %>" />
        <input type="button" id="btn_save_client"  name="btn_save_client" onclick="save_client()"  value="save" />
        <div class="container">
            <div class="row">
                <div class="col-sm-3 fieldLabel">
					<p>
						<label> יש צילום ת.זהות</label>        
				   
						<% if(data.main[0].exsist_id>0) {%>
							<input type="checkbox" name="exsist_id" checked  />
						<%} else{%>
							<input type="checkbox" name="exsist_id"   />
						<%}%>
					</p>
                </div>
                <div class="col-sm-3 fieldLabel">
					<p>
						<label> מעשן/ת</label>
					
						
							<% if(data.main[0].smok>0) {%>
								<input type="checkbox" name="smok" checked  />
							<%} else{%>
								<input type="checkbox" name="smok"   />
							<%}%>
                    </p>
                </div>
            
                <div class="col-sm-3 fieldLabel">
					<p>
						<label>תעודת זהות</label>
						<input class="w3-input" name="id"  id="id"value=" <%= data.main[0].id %>" size="10"  />
                   </p>
                </div>
                <div class="col-sm-3 fieldLabel">
					<p>
						<label>שם משפחה</label>
						<input class="w3-input" name="last_name" id="lastName" value="<%= data.main[0].last_name  %> "  />
                    </p>
                </div>
                
            </div>
			
			
            <div class="row">
                <div class="col-sm-3 fieldLabel">
					<p>
						<label>שם פרטי</label>
                        <input class="w3-input" name="first_name" id="first_name" value="<%= data.main[0].first_name %>" />
                    </p>                    
                </div>
                <div class="col-sm-3 fieldLabel">
					<p>
						<label>תאריך לידה</label>
						<input class="w3-input" name="birthday" id="birthday"  value="<%= data.main[0].birthday %>" size="10" />
                    </p>
                </div>
                
            
                <div class="col-sm-3 fieldLabel">
                    <p>
						<label>מין</label>
                        <input class="w3-input" name="sex" id="sex" value="<%= data.main[0].sex %>"  size="2"/>
                    </p>    
                </div>
                <div class="col-sm-3 fieldLabel">
                    <p>
						<label>שם סוכן</label> 
                
                        <select class="w3-input" name="agent"  id="agent" >
                                <option value="0" > </option>
                                <%    $.each(data.agents_list, function(key,val){
                                        if(val.serial != data.main[0].agent){ %>
                                            <option value="<%=val.serial%>" ><%=val.agent_name%></option>
            
                                    <%}
                                        else{ %>
                                                <option value="<%=val.serial%>" selected="selected" ><%=val.agent_name%></option>
                                    <%  }
                                });%>
                        </select>
                    </p>
                </div>
                
            </div>
            <div class="row">
                <div class="col-sm-3 fieldLabel">
					<p>
						<label>דרוג לקוח</label>
                        <input class="w3-input" name="client_rating" id="client_rating" value="<%= data.main[0].client_rating %>"  size="2"/>
                    </p>    
                </div>
                <div class="col-sm-3 fieldLabel">
                    <p>
						<label> קופת חולים</label>
                        <select class="w3-input" name="no_health_fund"  id="no_health_fund" >
                                    <option value="0" > </option>
                                    <%    $.each(data.no_health_fund_list, function(key,val){
                                        if(val.serial != data.main[0].no_health_fund){ %>
                                                <option value="<%=val.serial%>" ><%=val.param_name%></option>
            
                                        <%}
                                            else{ %>
                                                    <option value="<%=val.serial%>" selected="selected" ><%=val.param_name%></option>
                                        <%  }
                                });%>
                        </select>
                    </p>
                </div>
                
                <div class="col-sm-3 fieldLabel">
                    <p>
						<label>כתובת</label>
                        <input class="w3-input" name="street" id="street" value=" <%= data.main[0].street %>" />
                    </p>   
                </div>
                <div class="col-sm-3 fieldLabel">
                    <p>
						<label>עיר</label>
                        <input class="w3-input" name="city" id="city" value=" <%= data.main[0].city %>" />
                    </p>
                </div>
                
            </div>	
            <div class="row">
                <div class="col-sm-3 fieldLabel">
                    <p>
						<label>סטטוס</label>
               
                        <select class="w3-input" name="status"  id ="status1" >
                            <option value="0" > </option>
                            <%    $.each(data.client_type_list, function(key,val){
                                if(val.serial != data.main[0].status){
                                %>
                                    <option value="<%=val.serial%>" ><%=val.param_name%></option>
                                <%} else { %>
                                    <option value="<%=val.serial%>" selected="selected" ><%=val.param_name%></option>
                                <%}
                            });%>
                         </select>
                     </p>
                </div>
                <div class="col-sm-3 fieldLabel">
                    <p>
						<label>קבוצה</label>
                
                        <select class="w3-input" name="operation" id="operation">
                                <option value="0" > </option>
                                <%    $.each(data.operation_list, function(key,val){
                                        if(val.serial != data.main[0].operation){ %>
                                            <option value="<%=val.serial%>" ><%=val.param_name%></option>
                                    <%}
                                        else{ %>
                                            <option value="<%=val.serial%>" selected="selected" ><%=val.param_name%></option>
                                    <%  }
                                });%>
                        </select>
                    </p>
                </div>
                
            
                <div class="col-sm-3 fieldLabel">
                    <p>
						<label>דוא"ל</label>
                        <input class="w3-input" name="email" id="email" value=" <%= data.main[0].email %>" />
                    </p>     
                </div>
                <div class="col-sm-3 fieldLabel">
                
                </div>
                <div class="col-sm-3 fieldValue">

                </div>
                
            </div>
            <div class="row">
                <p> 
					הערה
                
                    <input class="w3-input" name="comment" value=" <%= data.main[0].comment %>" style='width:80%'/>
                </p>
            </div>
        </div>
 
       
     
    </form>  
 </script>