<script id="edit_client" type="text/html">
   <form id="editClient" name="editClient">
  <input type="hidden" name="serial" value="<%= data.main[0].Serial %>" />
       <input type="button" id="btn_save_client"  name="btn_save_client" onclick="save_client()"  value="save" />
    <table >
        <tr> 
            <td>
                <div> יש צילום ת.זהות</div>
                <div >
                    <% if(data.main[0].exsist_id>0) {%>
                        <input type="checkbox" name="exsist_id" checked  />
                    <%} else{%>
                        <input type="checkbox" name="exsist_id"   />
                    <%}%>
                </div>
            </td>  
            <td>
                <div> מעשן/ת</div>
                <div >
                    <% if(data.main[0].smok>0) {%>
                        <input type="checkbox" name="smok" checked  />
                    <%} else{%>
                        <input type="checkbox" name="smok"   />
                    <%}%>
                </div>    
            </td>   
        </tr>
    </table>    
       
    <table >
            <tr>
                   <td >
                        <div>תעודת זהות</div>
                         <div >
                              <input name="id"  id="id"value=" <%= data.main[0].id %>" size="10"  />
                         </div>
                    </td>
                    <td>
                         <div>שם משפחה</div>
                         <div>
                             <input name="lastName" id="lastName" value="<%= data.main[0].last_name  %> "  />
                        </div>
                    </td>
                    <td>
                        <div>שם פרטי</div>
                         <div>
                                <input name="firstName" id="firstName" value="<%= data.main[0].first_name %>" />
                         </div>
                     </td>
                     <td>
                        <div>תאריך לידה</div>
                         <div>
                                <input name="birthday" id="birthday"  value="<%= data.main[0].birthday %>" size="10" />
                         </div>
                     </td>
                      <td>
                        <div>מין</div>
                         <div>
                                <input name="sex" id="sex" value="<%= data.main[0].sex %>"  size="2"/>
                         </div>
                     </td>
                      <td>
                        <div>שם סוכן</div>
                         <div>
                                 <select name="agent"  id="agent" >
                                           <option value="0" > </option>
                                           <%    $.each(data.agents_list, function(key,val){
                                                 if(val.Serial != data.main[0].agent){ %>
                                                       <option value="<%=val.Serial%>" ><%=val.agent_name%></option>
                     
                                               <%}
                                                  else{ %>
                                                          <option value="<%=val.Serial%>" selected="selected" ><%=val.agent_name%></option>
                                               <%  }
                                         });%>
                          </select>
                         </div>
                     </td>
                     <td>
                            <div>דרוג לקוח</div>
                             <div>
                                    <input name="client_rating" id="client_rating" value="<%= data.main[0].client_rating %>"  size="2"/>
                             </div>
                         </td>
               
                         <td>
                                <div> קופת חולים</div>
                                 <div>
                                         <select name="no_health_fund"  id="no_health_fund" >
                                                   <option value="0" > </option>
                                                   <%    $.each(data.no_health_fund_list, function(key,val){
                                                         if(val.Serial != data.main[0].no_health_fund){ %>
                                                               <option value="<%=val.Serial%>" ><%=val.param_name%></option>
                             
                                                       <%}
                                                          else{ %>
                                                                  <option value="<%=val.serial%>" selected="selected" ><%=val.param_name%></option>
                                                       <%  }
                                                 });%>
                                        </select>
                                 </div>
                             </td>
               
               
            </tr>
          <tr>
             <td>
                     <div>כתובת</div>
                     <div>
                     
                         <input name="street" id="street" value=" <%= data.main[0].street %>" />
                        
                     </div>
                </td>
                <td>
                     <div>עיר</div>
                     <div>
                    
                         <input name="city" id="city" value=" <%= data.main[0].city %>" />
                        
                     </div>
                </td>
            
            <td>
                 <div>סטטוס</div>
                    <select name="status"  id ="status1" >
                        <option value="0" > </option>
                        <%    $.each(data.client_type_list, function(key,val){
                            if(val.Serial != data.main[0].status){
                            %>
                                <option value="<%=val.serial%>" ><%=val.param_name%></option>
                            <%} else { %>
                                    <option value="<%=val.serial%>" selected="selected" ><%=val.ParamName%></option>
                            <%}
                        });%>
                    </select>
             
            </td>
              <td>
                  <div>קבוצה</div>
                         <div>
                                 <select name="operation" id="operation">
                                           <option value="0" > </option>
                                           <%    $.each(data.operation_list, function(key,val){
                                                 if(val.Serial != data.main[0].operation){ %>
                                                       <option value="<%=val.serial%>" ><%=val.param_name%></option>
                     
                                               <%}
                                                  else{ %>
                                                        <option value="<%=val.serial%>" selected="selected" ><%=val.param_name%></option>
                                               <%  }
                                         });%>
                          </select>
                         </div>
              </td>
           </tr>

        <tr>
                <td>
                        <div>דוא"ל</div>
                        <div>
                       
                            <input name="email" id="email" value=" <%= data.main[0].email %>" />
                           
                        </div>
                   </td>
        </tr>
           
     </table > 
     <p> הערה<p> 
     <input name="comment" value=" <%= data.main[0].comment %>" style='width:80%'/>
   </form>  
</script>