<script id="edit_conversation" type="text/html">

     <% 
            var my_serial="";
         var my_client_serial="";
          var my_date ="";
    my_user="";
      var my_goal_of_talk ="";
      var my_type_tevia ="";
     var my_summary="";

     try{
             
          my_serial=data.main.serial;
          my_client_serial=data.main.client_serial;
          my_date= data.main.datee;
          my_user=data.main.get_call_name;
          my_goal_of_talk= data.main.goal_of_talk;
          my_type_tevia= data.main.type_tevia;
          my_summary=data.main.summary_of_conversation;
        var  my_hour=moment(my_date.text).format("HH:mm");
    }
    catch(err){
    }

         
       
       %>

   <form id="editConversation" name="editConversation">
  <input type="hidden" name="serial"  id="serial" value="<%=data.main.serial  %>" />
       <input type="hidden" name="client_serial" id="client_serial" value="<%= data.main.client_serial %>" />
         <input type="hidden" name="meeting_serial" id="meeting_serial" value="<%= data.main.meeting_serial %>" />
         <input type="hidden" name="datee" id="datee" value="<%= data.main.datee %>" size="10"  />
 
         <input type="hidden" name="row_index" value="<%= data.row_index %>" />
   &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp 
         <input type="button" id="btn_save"  name="btn_save"  onclick  ="save_conversation()" value="save" />
   <table>   
      <tr> 
          <td>
                <% if(data.main.done>0) { %>
                        <input type="checkbox" name="done"   checked /> &nbsp   בוצע 
                <%} else {%>
                        <input type="checkbox" name="done"    /> &nbsp   בוצע 
                <%}%>
          </td>  
          <td>
                        <% if(data.main.immediately>0) { %>
                                  <input type="checkbox" name="immediately"   checked /> &nbsp   דחוף 
                        <%} else {%>
                                  <input type="checkbox" name="immediately"    /> &nbsp   דחוף 
                        <%}%>
          </td>  
                  
      </tr>
    </table>  
    <table id="tableID" >
            <tr>
                <td >
                    <div>תאריך</div>
    
                    <div >
                         
                          <input id="datee1" value="<%=moment(data.main.datee,"YYYY-MM-DD HH:mm:ss").format('DD/MM/YYYY ') %>" size="10" disabled />
                     </div>
                </td>
                <td >
                        <div>שעה</div>

                       
                         <div >
                             
                              <input name="hour_of_datee2"  id="hour_of_datee2" value="<%=moment(data.main.datee).format("HH:mm")  %>" size="10" disabled />
                         </div> 
                    </td>

                
                <td>
                    <div>שם מטפל</div>
                     <div>
                             <select  name="get_call_name" id="get_call_name">
                                        <option value="0" > </option>
                                       <%    $.each(data.get_call_name_list, function(key,val){
                                             if(val.serial ==data.main.get_call_name){ %>
                                                   <option value="<%=val.serial%>" selected="selected" ><%=val.user_name%></option>
                     
                                          
                                           
                                           <%} else if(val.serial ==data.user_id ){ %>
                                                   <option value="<%=val.serial%>" selected="selected" ><%=val.user_name%></option>
                                        <%  }   else{ %>
                                              else{ %>
                                                      <option value="<%=val.serial%>"  ><%=val.user_name%></option>
                                           <%  }
                                     });%>
                      </select>
                     </div>
                </td>
                <td>
                    <div>מטרת השיחה</div>
                     <div>
                             <select name="goal_of_talk" id="goal_of_talk">
                                        <option value="0" > </option>
                                       <%    $.each(data.goal_of_talk_list, function(key,val){
                                             if(val.serial !=data.main.goal_of_talk){ %>
                                                   <option value="<%=val.serial%>" ><%=val.param_name%></option>
                     
                                           <%}
                                              else{ %>
                                                      <option value="<%=val.serial%>" selected="selected" ><%=val.param_name%></option>
                                           <%  }
                                     });%>
                      </select>
                     </div>
                </td>
               
                 
                  
                  <td>
                    <div>סוג תביעה</div>
                     <div>
                             <select name="type_tevia" id="type_tevia">
                                     <option value="0" > </option>
                                       <%    $.each(data.tevia_type_list, function(key,val){
                                             if(val.serial != data.main.type_tevia){ %>
                                                   <option value="<%=val.serial%>" ><%=val.param_name%></option>
                     
                                           <%}
                                              else{ %>
                                                      <option value="<%=val.serial%>" selected="selected" ><%=val.param_name%></option>
                                           <%  }
                                     });%>
                      </select>
                     </div>
                 </td>
                 <td>
                    <div>מספר פוליסה</div>
                     <div>
                             <select name="no_police" id="no_police">
                                     <option value="0" > </option>
                                       <%    $.each(data.no_police_list, function(key,val){
                                             if(val.no_police != data.main.no_police){ %>
                                                   <option value="<%=val.no_police%>" ><%=val.no_police%></option>
                     
                                           <%}
                                              else{ %>
                                                      <option value="<%=val.no_police%>" selected="selected" ><%=val.no_police%></option>
                                           <%  }
                                     });%>
                      </select>
                     </div>
                 </td>
                
               
              
               
               
            </tr>
       
             
           
     </table>  
      
      
          <textarea  name="summary_of_conversation" id="summary_of_conversation" style="width:100% ; height : 400px ;">
       <%= data.main.summary_of_conversation %> 
        </textarea>

</script>