<script id="edit_conversation" type="text/html">

     <% 
            var my_serial="";
         var my_client_serial="";
          var my_date ="";
    my_user="";
      var my_goal_of_talk ="";
      var my_type_tevia ="";
     var my_summary="";

     try{
          my_serial=data.main[0].Serial;
          my_client_serial=data.main[0].ClientSerial;
          my_date= data.main[0].Datee;
          my_user=data.main[0].Get_call_name;
          my_goal_of_talk= data.main[0].GoalOfTalk;
          my_type_tevia= data.main[0].TypeTevia;
          my_summary=data.main[0].SummaryOfConversation;
        var  my_hour=moment(my_date.text).format("HH:mm");
    }
    catch(err){
    }

         
       
       %>

   <form id="editConversation" name="editConversation">
  <input type="hidden" name="serial"  id="serial" value="<%=data.main[0].Serial  %>" />
       <input type="hidden" name="client_serial" id="client_serial" value="<%= data.main[0].ClientSerial %>" />
         <input type="hidden" name="meeting_serial" id="meeting_serial" value="<%= data.main[0].MeetingSerial %>" />
         <input type="hidden" name="datee" id="datee" value="<%= data.main[0].Datee %>" size="10"  />
     <!--    <input type="hidden"  id="hour_of_datee" name="hour_of_datee" value="<%=data.main[0].HourOfDatee %>" size="10"  />  !-->
         <input type="hidden" name="row_index" value="<%= data.row_index %>" />
   &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp 
         <input type="button" id="btn_save"  name="btn_save"  onclick  ="save_conversation()" value="save" />
   <table>   
      <tr> 
          <td>
                <% if(data.main[0].Done>0) { %>
                        <div>  <input type="checkbox" name="check_done"  id="check_done" checked /> &nbsp   בוצע </div>
                <%} else {%>
                                <div>  <input type="checkbox" name="check_done"  id="check_done"  /> &nbsp   בוצע </div>
                <%}%>
          </td>  
          <td>
                        <% if(data.main[0].Immediately>0) { %>
                                <div>  <input type="checkbox" name="immediately"  id="immediately" checked /> &nbsp   דחוף </div>
                        <%} else {%>
                                        <div>  <input type="checkbox" name="immediately"  id="immediately"  /> &nbsp   דחוף </div>
                        <%}%>
                  </td>  
                  
      </tr>
    </table>  
    <table id="tableID" >
            <tr>
                <td >
                    <div>תאריך</div>
                 <!--    <div id="my_date" name="my_date"><%= data.main[0].Datee %> </div>  !-->
                    <div >
                         
                          <input id="datee1" value="<%=moment(data.main[0].Datee,"YYYY-MM-DD HH:mm:ss").format('DD/MM/YYYY ') %>" size="10" disabled />
                     </div>
                </td>
                <td >
                        <div>שעה</div>
                     <!--     <div id="hour_of_datee" name="hour_of_datee"><%= data.main[0].Datee %> </div> !-->
                       
                         <div >
                             
                              <input name="hour_of_datee2"  id="hour_of_datee2" value="<%=moment(data.main[0].Datee).format("HH:mm")  %>" size="10" disabled />
                         </div> 
                    </td>

                
                <td>
                    <div>שם מטפל</div>
                     <div>
                             <select  name="get_call_name" id="get_call_name">
                                        <option value="0" > </option>
                                       <%    $.each(data.get_call_name_list, function(key,val){
                                             if(val.Serial ==data.main[0].Get_call_name){ %>
                                                   <option value="<%=val.Serial%>" selected="selected" ><%=val.UserName%></option>
                     
                                          
                                           
                                           <%} else if(val.Serial ==data.user_id ){ %>
                                                   <option value="<%=val.Serial%>" selected="selected" ><%=val.UserName%></option>
                                        <%  }   else{ %>
                                              else{ %>
                                                      <option value="<%=val.Serial%>"  ><%=val.UserName%></option>
                                           <%  }
                                     });%>
                      </select>
                     </div>
                </td>
                <td>
                    <div>מטרת השיחה</div>
                     <div>
                             <select name="goal_of_talk" id="goal_of_talk">
                                        <option value="0" > </option>
                                       <%    $.each(data.goal_of_talk_list, function(key,val){
                                             if(val.Serial !=data.main[0].GoalOfTalk){ %>
                                                   <option value="<%=val.Serial%>" ><%=val.ParamName%></option>
                     
                                           <%}
                                              else{ %>
                                                      <option value="<%=val.Serial%>" selected="selected" ><%=val.ParamName%></option>
                                           <%  }
                                     });%>
                      </select>
                     </div>
                </td>
               
                 
                  
                  <td>
                    <div>סוג תביעה</div>
                     <div>
                             <select name="type_tevia" id="type_tevia">
                                     <option value="0" > </option>
                                       <%    $.each(data.tevia_type_list, function(key,val){
                                             if(val.Serial != data.main[0].TypeTevia){ %>
                                                   <option value="<%=val.Serial%>" ><%=val.ParamName%></option>
                     
                                           <%}
                                              else{ %>
                                                      <option value="<%=val.Serial%>" selected="selected" ><%=val.ParamName%></option>
                                           <%  }
                                     });%>
                      </select>
                     </div>
                 </td>
                 <td>
                    <div>מספר פוליסה</div>
                     <div>
                             <select name="no_police" id="no_police">
                                     <option value="0" > </option>
                                       <%    $.each(data.no_police_list, function(key,val){
                                             if(val.NoPolice != data.main[0].NoPolice){ %>
                                                   <option value="<%=val.NoPolice%>" ><%=val.NoPolice%></option>
                     
                                           <%}
                                              else{ %>
                                                      <option value="<%=val.NoPolice%>" selected="selected" ><%=val.NoPolice%></option>
                                           <%  }
                                     });%>
                      </select>
                     </div>
                 </td>
                
               
              
               
               
            </tr>
       
             
           
     </table>  
      
      
          <textarea  name="summary_of_conversation" id="summary_of_conversation" style="width:100% ; height : 400px ;">
       <%= data.main[0].SummaryOfConversation %> 
        </textarea>

</script>